html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	background: url('../img/blue_grey_gradient.jpg') no-repeat center;
	background-size: cover;
	padding-bottom: 50px;
}
a { color: black; }
a:hover { color: #BE4444; text-decoration: none; }
#header {
	text-align: center;
	padding: 20px;
	background: rgba(255,255,255,0.8);
	background-size: cover;
	box-shadow: 0px 6px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 6px 5px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 6px 5px rgba(0,0,0,0.4);
	font-weight: 700;
	font-size: 2em;
	width: 100%;
}
#back-to-site {
	position: absolute;
	top: 30px;
	left: 25px;
	font-size: 16px;
	font-weight: 300;
	color: black;
	cursor: pointer;
}

#tweet-cloud-content { max-width: 900px; }

.block {
	position: relative;
	background-color: rgba(255,255,255,0.8);
	text-align: center;
	padding: 25px;
	margin: 0px 15px;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 2px 10px rgba(0,0,0,0.8);
	-webkit-box-shadow: 0px 2px 10px rgba(0,0,0,0.8);
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	box-sizing: border-box;
}
.button-curtain {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.75);
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}
#sign-in-row { display: inline-block; }
#sign-in-button { margin-top: 87px; }
#login-info-container {
	position: relative;
	margin-bottom: 5px;
	font-size: 0.9em;
	height: 30px;
	width: 100%;
	text-align: center;
}
#login-info { color: green; }
#logout-button {
	cursor: pointer;
	color: #9D2424;
}
#logout-button:hover { color: #BE4444; }


#left-column { 
	text-align: center;
	margin-top: 50px;
}
#stats-column {
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

#word-cloud-container {
	background-color: rgba(255,255,255,1);
	box-shadow: 0px 2px 10px rgba(0,0,0,0.8);
	padding: 20px;
	margin-top: 20px;
}
#username-form {
	width: 350px;
	padding-bottom: 0px;
}

#hashtag-text-container {
	text-align: center;
	margin-top: 15px;
}
#hashtag-text {
	display: inline;
	margin-left: 5px;
	top: 1px;
}
#color-select-container {
	margin-top: 10px;
}
#submit-button { margin-top: 15px; }

#show-stats, #stats-block {
	margin-top: 15px;
}
#stats-table td {
	padding-left: 20px;
	padding-right: 20px;
}

#word-cloud-container, #show-stats, #stats-block {
	display: none;
}
